body{
    width: 100%;
    height: 100%;
    background-color: black;
    color:white;
}
#table-res{
    text-align: center;
    width: 100%;
    border-spacing: 10px 0px;
    font-size: 25px;
}
#table-res > thead{
    color:#fc8f00;
}
#table-res th{
    border-bottom: 5px solid #fc8f00;
    border-radius: 10px 10px 0 0;
}
#table-res th:nth-child(1){
    width: 10%;
    border-spacing: 0;
}
#table-res th:nth-child(2){
    width: 10%;
    border-spacing: 0;
}
#table-res th:nth-child(3){
    width: 15%;
}
#table-res th:nth-child(4){
    width: 40%;
}
#table-res th:nth-child(5){
    width: 40%;
}
#table-res th:nth-child(5){
    width: 2%;
}
#logo-admin{
    width: 100px;
    margin: auto;
    display: block;
}
#text-admin{
    width: fit-content;
    font-size: 60px;
    text-align: center;
    margin: auto;
}
#table-com{
    text-align: center;
    width: 100%;
    border-spacing: 10px 0px;
    font-size: 25px;
}
#table-com > thead{
    color:#0097fc;
}
#table-com th{
    border-bottom: 5px solid #0097fc;
    border-radius: 10px 10px 0 0;
}
#table-com th:nth-child(1){
    width: 20%;
    border-spacing: 0;
}
#table-com th:nth-child(2){
    width: 5%;
}
#table-com th:nth-child(3){
    width: 75%;
}