body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

#s1 {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(94, 156, 248);
    transition: 
    background 0.5s,
    transform 0.5s;
}

#s2 {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgba(203, 138, 138, 1);
    transition:
    background 0.5s,
    transform 0.5s;
}

#s3 {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(75, 163, 17);
    transition:
    background 0.5s,
    transform 0.5s;
}

#s1:hover {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(94, 156, 248,0.8);
    transform: scale(1.07);
}

#s2:hover {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgba(203, 138, 138, 0.8);
    transform: scale(1.07);
}

#s3:hover {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(75, 163, 17,0.8);
    transform: scale(1.07);
}