
body::-webkit-scrollbar {
    display: none;
}
:root {
    --entrees: #67A462;
    --plats: #437592;
    --desserts: #A34E4E;
    --boissons: #8553B8;
    --menus: #C0BB44;

    --entrees-dark: #214E1D;
    --plats-dark: #1A4055;
    --desserts-dark: #5C2222;
    --boissons-dark: #3E1B60;
    --menus-dark: #53511D;
  }
@font-face {
    font-family: 'Jacques Francois Shadow';
    src: url('../Fonts/JacquesFrancoisShadow-Regular.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Jacques Francois Shadow', sans-serif;
}

#menu {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
#menu .section{
    margin: auto;
    height: 100%;
    width: 100%;
    background-position: center ;
    background-size: cover;
    filter: blur(3px);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
#menu .section .titre{
    color:white;
    font-size:6vw;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #000a;
    position:relative;
    top:70%;
    padding: 20px 0;
}
#menu .section:hover{
    filter: blur(0px);
    z-index: 1;
    box-shadow: 0 0 100px black;
}
#menu .section:hover .titre{
    opacity: 1;
}
#menu .section:nth-child(1){
    background-image: url("../Image/entree.jpg");
}
#menu .section:nth-child(2){
    background-image: url("../Image/plat.jpg");
}
#menu .section:nth-child(3){
    background-image: url("../Image/dessert.jpg");
}
@media (orientation: portrait) {
    #menu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
#carte{
    display: none;
    /*display: block;/* A SUPPR */
    background-color: black;
    width: 100vw;
    height: 100vh;
}
#carte .section{
    position: absolute;
    display: flex;
    background-color: black;
    top: 0%;
    left:0%;
    height: 100vh;
    width: min-content;
    color:white;
    font-size: 100px;
}
/*
#carte .section:nth-child(1){
    background-color: green;
}
#carte .section:nth-child(2){
    background-color: red;
}
#carte .section:nth-child(3){
    background-color: blue;
}
#carte .section:nth-child(4){
    background-color: yellow;
}
*/
#carte .section .titre{
    position: sticky;
    left:-1px;
    writing-mode:vertical-rl;
    height: 100%;
    text-align: center;
    transform: rotate(180deg);
    z-index: 2;
}
#entrees .titre{
    background-color: var(--entrees);
    color:var(--entrees-dark);
}
#plats .titre{
    background-color: var(--plats);
    color:var(--plats-dark);
}
#desserts .titre{
    background-color: var(--desserts);
    color:var(--desserts-dark);
}
#boissons .titre{
    background-color: var(--boissons);
    color:var(--boissons-dark);
}
#menus .titre{
    background-color: var(--menus);
    color:var(--menus-dark);
}


#carte .section .contenu{
    height: 100%;
    width: min-content;
    /*padding: 25px 0;*/
    display: flex;
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition: all 0.3s ease-in-out;
    */
}

#carte .section .contenu:hover{
    /*grid-template-columns: 10fr 1fr 1fr 1fr 1fr;*/
}
#carte .section .contenu .item{
    /*height: calc(100% - 50px);*/
    color: rgb(220, 75, 13);
    color:white;
    height: 100%;
    width: 500px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    /*background-color: white;*/
    /*
    display: flex;
    flex-direction: column;*/
    /*
    background-position: center;
    background-size: cover;
    */
    /*filter: blur(3px);
    transition: all 0.3s ease-in-out;*/
}

.item img{
    height: 100%;
    width: 100%;
    
    /*height: calc(100% - 20px);*/
    width: calc(100% - 20px);
    border-radius: 0px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    
   /* border : solid 10px black;*/
    border-radius: 0px;
    
}
/*
#entrees img{
    border : solid 10px var(--entrees);
}
#entrees .contenu{
    background-color: var(--entrees-dark);
}

#boissons .contenu{
    background-color: var(--boissons-dark);
}
#boissons img{
    border : solid 10px var(--boissons);
}

#desserts img{
    border : solid 10px var(--desserts);
}
#desserts .contenu{
    background-color: var(--desserts-dark);
}


#plats img{
    border : solid 10px var(--plats);
}
#plats .contenu{
    background-color: var(--plats-dark);
}
*/
.item:hover img{
    display: block;
    width: 90%;
    margin: 5% auto;
    height: 40%;
    border-radius: 50px;
    /*
    height: 40%;
    border-radius: 100px;*/
    
}

.item .details{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
}
.item .nom{
    font-size: 50px;
    width: 90%;
    margin: auto;
}
.item .description{
    font-size: 25px;
    width: 80%;
    margin: auto;
}
.item .description:before{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 6% auto;
    border-radius: 10px;
    background-color: white;
}
.item .description:after{
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    margin: 7% auto;
    border-radius: 10px;
    background-color: white;
}

.item .prix{
    font-size: 30px;
    width:max-content;
    margin: auto;
    background-color:cornflowerblue;
    padding: 10px;
    border-radius: 10px;
}
.item .prix::after{
    content: "€";
}

#entrees .prix{
    background-color: var(--entrees);
    color:black;
    /*color:var(--entrees-dark);*/
}
#plats .prix{
    background-color: var(--plats);
    color:black;
    /*color:var(--plats-dark);*/
}
#desserts .prix{
    background-color: var(--desserts);
    color:black;
    /*color:var(--desserts-dark);*/
}
#boissons .prix{
    background-color: var(--boissons);
    color:black;
    /*color:var(--boissons-dark);*/
}
#menus .prix{
    background-color: var(--menus);
    color:black;
    /*color:var(--menus-dark);*/
}


/*
.item .bandeau{
    opacity: 0;
    position:relative;
    top: 55%;
    left:0;
    width: 100%;
    height: 40%;
    background-color: #000a;
    transition: all 0.3s ease-in-out;
    font-size: 50px;
}
*/
/*
#carte .section .contenu .item:hover .bandeau{
    opacity: 1;
}
*/
/*
#carte .section .contenu .item:hover{
    width: 600px;
}*/
/*
#carte .section .contenu .item:nth-child(1){
    background-image: url("../Image/carte/brownie.jpg");
}
#carte .section .contenu .item:nth-child(2){
    background-image: url("../Image/carte/pancacke.jpg");
}
#carte .section .contenu .item:nth-child(3){
    background-image: url("../Image/carte/smoothie.jpg");
}
#carte .section .contenu .item:nth-child(4){
    background-image: url("../Image/carte/tartelette.jpg");
}
#carte .section .contenu .item:nth-child(5){
    background-image: url("../Image/carte/verrines.jpg");
}*/
/*
.item img{
    width: 80%;
    border-radius: 0 100px;
}
*/

/*
#carte .section .contenu .item:nth-child(1){
    background-color: #333;
}
#carte .section .contenu .item:nth-child(2){
    background-color: #666;
}
#carte .section .contenu .item:nth-child(3){
    background-color: #999;
}
#carte .section .contenu .item:nth-child(4){
    background-color: #CCC
}

/*

            <div class="contenu">dddd
                <div class="item">
                    <div class="titre">
                        BOISSONS
                    </div>
                </div>
            </div>
            */


/*
 BACKGROUND DEVIENT TRANSPARENT ET FLOU
*/
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.containermenu {
    display: flex;
    height: 100vh;
}

#s1 {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(94, 156, 248);
    filter: blur(3px);
    transition: 
    background 0.5s,
    transform 0.5s;
}

#s2 { 
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgba(203, 138, 138);
    filter: blur(3px);
    transition:
    background 0.5s,
    transform 0.5s;
}

#s3 {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(75, 163, 17);
    filter: blur(3px);
    transition:
    background 0.5s,
    transform 0.5s;
}

#s1:hover {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(94, 156, 248,0.8);
    filter: blur(0px);
    transform: scale(1.07);
    cursor: pointer;
}

#s2:hover {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgba(203, 138, 138, 0.8);
    filter: blur(0px);
    transform: scale(1.07);
    cursor: pointer;
}

#s3:hover {
    z-index: 0;
    display: flex;
    flex-direction: row;
    background: rgb(75, 163, 17,0.8);
    filter: blur(0px);
    transform: scale(1.07);
    cursor: pointer;
}

.blocHorizontal {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Activation du défilement horizontal */
    overflow-y: hidden; /* Désactivation du défilement vertical */
}

.container {
    display: none;
    width: 100vw; 
    height: 100vh; 
    overflow-x: auto; /* Activation du défilement horizontal */
    overflow-y: hidden; /* Désactivation du défilement vertical */
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh; /* Remplissage de la largeur de la vue */
    height: 100vw; /* Remplissage de la hauteur de la vue */
    transform: rotate(-90deg) translateX(-100vh); /* Correction de la rotation et de la translation */
    transform-origin: top left;
}

.one {
    background: rgb(94, 156, 248);
}
.two {
    background: rgba(203, 138, 138);
}
.three {
    background: rgb(75, 163, 17);
}
.four {
    background: #8e8358;
}
