
@font-face {
    font-family: 'NerkoOne Regular';
    src: url('../Fonts/NerkoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jacques Francois Shadow';
    src: url('../Fonts/JacquesFrancoisShadow-Regular.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
    font-family: 'NerkoOne Regular', sans-serif!important;
    user-select: none!important;

}


.font{
    font-family: 'Jacques Francois Shadow', sans-serif!important;
}
