* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", serif;
}
body{
    background-color: rgb(135, 171, 203);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

li {
    list-style: none;
}

a,
a:visited {
    position: relative;
    color: darkslategrey;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 999;
}

a:hover {
    color: white;
}

/**** NAVBAR ****/

nav {
    position: relative;
    background: skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: calc(0.5rem + 1.5vw);
    z-index: 999;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
    z-index: 999;
}

#icons {
    cursor: pointer;
    display: none;
}

@media (max-width: 800px) {
    #icons {
        display: block;
    }

    #icon:before {
        content: "\2630";
    }

    .active #icons:before {
        content: "\2715";
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        background: skyblue;
        width: 100%;
        text-align: center;
        transition: 0.25s;
    }

    nav li {
        padding: 3px 0;
    }

    nav li:hover {
        background: #08b4bb;
    }

    nav.active ul {
        left: 0;
    }

    .barre{
        display: none;
    }
}