body::-webkit-scrollbar {
    display: none;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
#video {
    position: absolute; /* Position absolue pour la vidéo */
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1; /* Mettre la vidéo en arrière-plan */
}

.bonjour {
    

    font-size: 100px;
    color: aliceblue;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh;
    position: relative; /* Position relative pour la div 'bonjour' */
    z-index: 2; /* Mettre la div 'bonjour' devant la vidéo */
}

.bienvenue{
    background-color: #0002;
    backdrop-filter: blur(50px);
    padding: 15px 50px;
    border-radius: 1000px;
}
